{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}

{% with all_images=product.images.all %}
    {# use length rather then count as the images get queried anyways #}

    {% if all_images|length > 1 %}
        <div id="product_gallery" class="slider slider-for">
            {% for image in all_images %}
                <div>
                    {% thumbnail image.original "440x400" upscale=False as thumb %}
                    <img src="{{ thumb.url }}" alt="{{ product.get_title }}" class="th product-thumb" itemprop="image"/>
                    {% endthumbnail %}
                </div>
            {% endfor %}
        </div>
        <div id="product_gallery" class="slider slider-nav">
            {% for image in all_images %}
                <div>
                    {% thumbnail image.original "440x400" upscale=False as thumb %}
                    <img src="{{ thumb.url }}" alt="{{ product.get_title }}" class="th"/>
                    {% endthumbnail %}
                </div>
            {% endfor %}
        </div>

    {% else %}

        {# Only one image to show #}
        <div id="product_gallery">
            <div>
                {% with image=product.primary_image %}
                    {% thumbnail image.original "440x400" upscale=False as thumb %}
                        <img src="{{ thumb.url }}" alt="{{ product.get_title }}" class="th product-thumb" />
                    {% endthumbnail %}
                {% endwith %}
            </div>
        </div>

    {% endif %}
{% endwith %}
