{% load i18n %}

<dl class="sub-nav">
    {% block standard_tabs %}
        <dt>{{ page_title }}</dt>
        <dd{% if active_tab == 'profile' %} class="active"{% endif %}>
            <a href="{% url 'customer:profile-view' %}">{% trans "Profile" %}</a>
        </dd>
        <dd{% if active_tab == 'orders' %} class="active"{% endif %}>
            <a href="{% url 'customer:order-list' %}">{% trans "Order History" %}</a>
        </dd>
        <dd{% if active_tab == 'addresses' %} class="active"{% endif %}>
            <a href="{% url 'customer:address-list' %}">{% trans "Address Book" %}</a>
        </dd>
        <dd{% if active_tab == 'emails' %} class="active"{% endif %}>
            <a href="{% url 'customer:email-list' %}">{% trans "Email History" %}</a>
        </dd>
        <dd{% if active_tab == 'alerts' %} class="active"{% endif %}>
            <a href="{% url 'customer:alerts-list' %}">{% trans "Product Alerts" %}</a>
        </dd>
        <dd{% if active_tab == 'notifications' %} class="active"{% endif %}>
            <a href="{% url 'customer:notifications-inbox' %}">{% trans "Notifications" %}</a>
        </dd>
        <dd{% if active_tab == 'wishlists' %} class="active"{% endif %}>
            <a href="{% url 'customer:wishlists-list' %}">{% trans "Wish Lists" %}</a>
        </dd>
    {% endblock %}
    {% block extra_tabs %}
    {% endblock %}
</dl>
