{% extends "customer/baseaccountpage.html" %}
{% load i18n %}

{% block tabcontent %}

    {% if addresses %}
        <table>
            <tbody>
                <tr>
                    <th>{% trans 'Address' %}</th>
                    <th></th>
                </tr>
                {% for address in addresses %}
                    <tr>
                        <td>
                            {% if address.is_default_for_shipping %}
                                <span class="label success">{% trans 'Default shipping address' %}</span>
                            {% endif %}
                            {% if address.is_default_for_billing %}
                                <span class="label info">{% trans 'Default billing address' %}</span>
                            {% endif %}
                            <address>
                                {% for field in address.active_address_fields %}
                                    {{ field }}<br />
                                {% endfor %}
                            </address>
                        </td>
                        <td>
                            <ul class="button-group">
                                <li><a class="button" href="{% url 'customer:address-detail' pk=address.id %}">{% trans 'Edit' %}</a></li>
                                <li><button href="#" data-dropdown="address" aria-controls="address" aria-expanded="false" class="button dropdown tiny info">
                                    <i class="fi-wrench"></i>
                                </button></li>
                                <ul id="address" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
                                    <li>
                                        <a href="{% url 'customer:address-delete' pk=address.id %}">
                                            {% trans 'Delete' %}
                                        </a>
                                    </li>

                                    {% if address.country.is_shipping_country and not address.is_default_for_shipping %}
                                        <li>
                                            <a href="{% url 'customer:address-change-status' pk=address.id action='default_for_shipping' %}">
                                                {% trans 'Set as default shipping address' %}
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if not address.is_default_for_billing %}
                                        <li>
                                            <a href="{% url 'customer:address-change-status' pk=address.id action='default_for_billing' %}">
                                                {% trans 'Set as default billing address' %}
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "partials/pagination.html" %}
    {% else %}
        <p>{% trans 'There are no addresses in your address book.' %}</p>
    {% endif %}
    <p>
        <a href="{% url 'customer:address-create' %}" class="button">{% trans 'Add a new address' %}</a>
    </p>
{% endblock tabcontent %}

